label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 30px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-offset: 0px;
    padding-left: 10px;
}

input:focus-visible,
textarea:focus-visible {
}

textarea {
    border: 1px solid #ccc;
    outline-offset: 0px;
    width: 100%;
    height: 250px;
    line-height: 32px;
    padding-left: 0;
}

.show-password-input {
    top: 6px!important;
}

input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="radio"],
input[type="range"] {
    width: auto;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
}


form.invalid .wpcf7-response-output,
form.unaccepted .wpcf7-response-output,
form.payment-required .wpcf7-response-output {
    padding: 20px;
}

.wpcf7-spinner {
    display: none;
}

//AVISOS E MENSAGENS

.woocommerce-message::before, .woocommerce-info::before {
}

.woocommerce-message, .woocommerce-info {
}

.woocommerce-error {
}

.woocommerce-error::before {
}