* {
    // font-family: "Poppins", sans-serif;
}
.ir{
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

img {
    display: block;

}
iframe{
    width: 100%;
}
body {
    font-family: $helvetica;
    background: #F4F4F5;
}
main{
    padding-top: 66px;
    min-height: calc(100vh - 136px);    
    
}
a {
    text-decoration: none;
}
strong{
    font-weight: bold;
}

.wrapper{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
