// Page-home

.home-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center horizontally */
  text-align: center;     /* Center text within items */
  margin: 0 auto;        /* Center the container itself */ 
  background-color: $branco;
  width: 100%;
}


.home-titulo {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
 
 
}

.home-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}


//Page Sobre


.sobre-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center horizontally */
  text-align: center;     /* Center text within items */
  margin: 0 auto;        /* Center the container itself */ 
  background-color: $branco;
  width: 100vw;
  padding-top: 40px;
}


.sobre-titulo {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
 
 
}

.sobre-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}


// Page-unidade

.unidade-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center horizontally */
  text-align: center;     /* Center text within items */
  margin: 0 auto;        /* Center the container itself */ 
  background-color: $branco;
  width: 100vw;
  padding-top: 40px;
}


.unidade-título {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
 


}

.unidade-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  @include dk-pq {
    max-width: 800px;
  }
}

.video-container iframe {
  
    height: auto;
    @include dk-pq {
      height: 500px;
    }

}

.unidade-mapa {
  color: $verde;
  margin-bottom: 20px;
}

.unidade-mapa img {
  max-width: 100%; /* Prevents the image from exceeding the width of its container */
  height: auto; /* Maintain aspect ratio */
}

.unidade-anos {

}

.unidade-anos h2 {
  color: $verde;
  margin-bottom: 10px;
}

.unidade-anos p {
  color: $preto;
  margin-bottom: 10px;
}

.unidade-habilidades {
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
}

.unidade-habilidades h2{
text-align: center;
color: $verde;
}

.unidade-habilidades p {
  
}

.unidade-habilidades p {
  margin-bottom: 0px;
  margin-top: 20px;
}

.ideias-centrais {
  align-items: center;
  width: 60%;
}



.ideias-centrais h2 {
  text-align: center;
  margin-bottom: 5px;

}

.ideias-centrais span{
  text-align: justify;
  margin-bottom: 30px;
  display: list-item; /* This has to be "list-item"                                          */
  margin-left : 1em;  /* If you use default list-style-position 'outside', you may need this */

}


.unidade-grid-container {
  display: flex;
  align-items: center;    /* Center horizontally */
  text-align: center;     /* Center text within ite
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust spacing between items */
  flex-wrap: wrap;
  justify-content: center;
}

.unidade-grid-item {
  border: 1px solid #ccc; /* Optional styling */
  padding: 10px; /* Optional styling */
  text-align: center; /* Center text */
  width: 200px;
  min-height: 500px;
  align-items: stretch;
}

.unidade-grid-item iframe {
  width: 80%;
  height: auto;
}


.grid-container {
  display: flex;
 flex-flow: column; /* 4 columns */
  gap: 20px; /* Adjust spacing between items */
  @include dk-pq {
    flex-flow: row;
  }

}

.grid-item {
  border: 1px solid #ccc; /* Optional styling */
  padding: 10px; /* Optional styling */
  text-align: center; /* Center text */
}

.unidade-container-encontro {
  
}

.unidade-encontro-title{
  border: 1px solid #ccc;
  height: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  width: 80vw;
}

.unidade-encontro-content{
  border: 1px solid #ccc;
  display: none;
  padding: 10px 20px;
  width: 80vw;
}