//familia de fontes
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-black-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-regular-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'neue-haas';
    src: url('../fonts/Neue Haas Grotesk Display Pro 65 Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

$helvetica: 'helvetica';
$neue-haas: 'neue-haas';



//font case
.t-upper{
    text-transform: uppercase;
}

//text align
.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}

//padroes classes
.t-1{
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    @include dk-pq{
        font-size: 45px;
    }
}
.t-2{
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    @include dk-pq{
        font-size: 35px;
    }
}
.t-3{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    leading-trim: both;
    text-edge: cap;
    @include dk-pq{
        font-size: 22px;
    }
}
.t-4{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    leading-trim: both;
    text-edge: cap;
    @include dk-pq{
        font-size: 20px;
    }
}
.t-5{
    font-weight: 400;
    font-size: 12px;
    line-height: 40%;
    leading-trim: both;
    text-edge: cap;
    @include dk-pq{
        font-size: 20px;
    }
}


.t-texto{
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    leading-trim: both;
    text-edge: cap;
    @include dk-pq{
        font-size: 18px;
    }
}
.t-small{
    font-weight: 400;
    font-size: 11px;
    line-height: 125%;
    @include dk-pq{
        font-size: 13px;
    }
}
.t-menu-1{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.t-menu-2{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;
}
.t-menu-3{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.t-botao{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    @include dk-pq{
        font-size: 14px;
        line-height: 17px;
    }
}
.t-tag{
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    leading-trim: both;
    text-edge: cap;
    @include dk-pq{
        font-size: 28px;
    }
}

//font weight
.t-regular{
    font-weight: 400;
}
.t-bold{
    font-weight: 600;
}
.t-black{
    font-weight: 900;
}

.t-wysiwyg{
    a{
        color: $preto;
        font-weight: bold;
        text-decoration: underline;
    }
}