@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.t-branco {
  color: #ffffff;
}

.bg-branco {
  background-color: #ffffff;
}

.t-preto {
  color: #292929;
}

.bg-preto {
  background-color: #292929;
}

.t-laranja {
  color: #F07D22;
}

.bg-laranja {
  background-color: #F07D22;
}

.t-vermelho {
  color: #cc2f30;
}

.bg-vermelho {
  background-color: #cc2f30;
}

.t-vermelho-claro {
  color: #E7494F;
}

.bg-vermelho-claro {
  background-color: #E7494F;
}

.t-amarelo {
  color: #f2bb15;
}

.bg-amarelo {
  background-color: #f2bb15;
}

.t-verde {
  color: #9bc73f;
}

.bg-verde {
  background-color: #9bc73f;
}

.t-verde2 {
  color: #138B6C;
}

.bg-verde2 {
  background-color: #138B6C;
}

.t-azul {
  color: #3069b1;
}

.bg-azul {
  background-color: #3069b1;
}

.t-roxo-claro {
  color: #72528B;
}

.bg-roxo-claro {
  background-color: #72528B;
}

.t-roxo {
  color: #352e49;
}

.bg-roxo {
  background-color: #352e49;
}

.t-rosa {
  color: #E61365;
}

.bg-rosa {
  background-color: #E61365;
}

.t-rosa-claro {
  color: #E94082;
}

.bg-rosa-claro {
  background-color: #E94082;
}

.t-cinza {
  color: #CFCFCF;
}

.bg-cinza {
  background-color: #CFCFCF;
}

.t-cinza-escuro {
  color: #959595;
}

.bg-cinza-escuro {
  background-color: #959595;
}

.t-principal {
  color: #09ff00;
}

.bg-principal {
  background-color: #09ff00;
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-black-webfont.woff2") format("woff2"), url("../fonts/helvetica-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-bold-webfont.woff2") format("woff2"), url("../fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-regular-webfont.woff2") format("woff2"), url("../fonts/helvetica-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.t-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
}
@media (min-width: 990px) {
  .t-1 {
    font-size: 45px;
  }
}

.t-2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
}
@media (min-width: 990px) {
  .t-2 {
    font-size: 35px;
  }
}

.t-3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-3 {
    font-size: 22px;
  }
}

.t-4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-4 {
    font-size: 20px;
  }
}

.t-5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 40%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-5 {
    font-size: 20px;
  }
}

.t-texto {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-texto {
    font-size: 18px;
  }
}

.t-small {
  font-weight: 400;
  font-size: 11px;
  line-height: 125%;
}
@media (min-width: 990px) {
  .t-small {
    font-size: 13px;
  }
}

.t-menu-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.t-menu-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
}

.t-menu-3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.t-botao {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 990px) {
  .t-botao {
    font-size: 14px;
    line-height: 17px;
  }
}

.t-tag {
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-tag {
    font-size: 28px;
  }
}

.t-regular {
  font-weight: 400;
}

.t-bold {
  font-weight: 600;
}

.t-black {
  font-weight: 900;
}

.t-wysiwyg a {
  color: #292929;
  font-weight: bold;
  text-decoration: underline;
}

.ir {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

img {
  display: block;
}

iframe {
  width: 100%;
}

body {
  font-family: "helvetica";
  background: #F4F4F5;
}

main {
  padding-top: 66px;
  min-height: calc(100vh - 136px);
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.wrapper {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within items */
  margin: 0 auto; /* Center the container itself */
  background-color: #ffffff;
  width: 100%;
}

.home-titulo {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.home-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.sobre-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within items */
  margin: 0 auto; /* Center the container itself */
  background-color: #ffffff;
  width: 100vw;
  padding-top: 40px;
}

.sobre-titulo {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.sobre-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.unidade-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within items */
  margin: 0 auto; /* Center the container itself */
  background-color: #ffffff;
  width: 100vw;
  padding-top: 40px;
}

.unidade-título {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.unidade-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}
@media (min-width: 990px) {
  .video-container {
    max-width: 800px;
  }
}

.video-container iframe {
  height: auto;
}
@media (min-width: 990px) {
  .video-container iframe {
    height: 500px;
  }
}

.unidade-mapa {
  color: #9bc73f;
  margin-bottom: 20px;
}

.unidade-mapa img {
  max-width: 100%; /* Prevents the image from exceeding the width of its container */
  height: auto; /* Maintain aspect ratio */
}

.unidade-anos h2 {
  color: #9bc73f;
  margin-bottom: 10px;
}

.unidade-anos p {
  color: #292929;
  margin-bottom: 10px;
}

.unidade-habilidades {
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
}

.unidade-habilidades h2 {
  text-align: center;
  color: #9bc73f;
}

.unidade-habilidades p {
  margin-bottom: 0px;
  margin-top: 20px;
}

.ideias-centrais {
  align-items: center;
  width: 60%;
}

.ideias-centrais h2 {
  text-align: center;
  margin-bottom: 5px;
}

.ideias-centrais span {
  text-align: justify;
  margin-bottom: 30px;
  display: list-item; /* This has to be "list-item"                                          */
  margin-left: 1em; /* If you use default list-style-position 'outside', you may need this */
}

.unidade-grid-container {
  display: flex;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within ite
grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust spacing between items */
  flex-wrap: wrap;
  justify-content: center;
}

.unidade-grid-item {
  border: 1px solid #ccc; /* Optional styling */
  padding: 10px; /* Optional styling */
  text-align: center; /* Center text */
  width: 200px;
  min-height: 500px;
  align-items: stretch;
}

.unidade-grid-item iframe {
  width: 80%;
  height: auto;
}

.grid-container {
  display: flex;
  flex-flow: column; /* 4 columns */
  gap: 20px; /* Adjust spacing between items */
}
@media (min-width: 990px) {
  .grid-container {
    flex-flow: row;
  }
}

.grid-item {
  border: 1px solid #ccc; /* Optional styling */
  padding: 10px; /* Optional styling */
  text-align: center; /* Center text */
}

.lista-encontros {
  width: 80vw;
}
@media (min-width: 990px) {
  .lista-encontros {
    max-width: 60vw;
  }
}

.encontro-title {
  border: 1px solid #CFCFCF;
  height: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #CFCFCF;
  font-weight: 600;
}

.unidade-encontro-content {
  border: 1px solid #CFCFCF;
  display: none;
  padding: 10px 20px;
  line-height: 1.3;
}

.unidade-encontro-content h2 {
  padding-bottom: 10px;
  font-size: 20px;
}

.unidade-encontro-content iframe {
  width: 100%;
  height: auto;
}
@media (min-width: 990px) {
  .unidade-encontro-content iframe {
    max-width: 534px;
    aspect-ratio: 16/9;
  }
}

.encontro-objetivo {
  text-align: left;
  padding: 15px 30px;
}

.encontro-objetivo h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-objetivo h3 {
  padding-bottom: 10px;
}

.encontro-objetivo ul {
  list-style-type: disc !important;
  list-style-position: inside;
}

.encontro-etapa {
  text-align: left;
  padding: 15px 30px;
}

.encontro-etapa h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-etapa h3 {
  padding-bottom: 10px;
}

.encontro-etapa b {
  font-weight: 600;
}

.encontro-materiais {
  text-align: left;
  padding: 15px 30px;
}

.encontro-materiais h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-materiais h3 {
  padding-bottom: 10px;
}

.encontro-materiais ul {
  list-style-type: disc !important;
  list-style-position: inside;
}

footer {
  width: 100%; /* Frame 1 */
  box-shadow: 6px 0px 4px rgba(0, 0, 0, 0.25);
}
footer ul {
  /* Auto layout */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 39px;
}
@media (min-width: 990px) {
  footer ul {
    max-width: 350px;
    margin: 0 auto;
  }
}
footer ul li {
  flex-grow: 1;
}
footer ul li a {
  display: block;
  width: 100%;
}
footer ul li a img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1019607843) 0 11px 20px;
  background: #ffffff;
}
@media (min-width: 990px) {
  header .header-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 5%;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}
header .topo-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 5%;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 990px) {
  header .topo-menu {
    width: initial;
    background: none;
    padding: 0;
  }
}
header .topo-menu .bt-menu {
  order: 2;
  background: none;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #292929;
}
@media (min-width: 990px) {
  header .topo-menu .bt-menu {
    display: none;
  }
}
header .topo-menu h1 {
  order: 1;
}
header .logo {
  background: url(../imgs/logo-clic.svg) no-repeat;
  background-size: 100%;
  width: 77px;
  height: 46px;
}
header nav {
  position: absolute;
  padding: 5%;
  background: #CFCFCF;
  padding: 20px 5%;
  left: -50vw;
  top: 66px;
  width: 50vw;
  box-sizing: border-box;
  height: calc(100vh - 47px);
  transition: left ease 0.5s;
}
@media (min-width: 990px) {
  header nav {
    position: relative;
    background: none;
    padding: 0;
    left: 0;
    top: 0;
    width: initial;
    height: initial;
    transition: left ease 0.5s;
  }
}
header nav.nav-open {
  left: 0;
}
header nav > ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
@media (min-width: 990px) {
  header nav > ul {
    flex-flow: row wrap;
    gap: 30px;
  }
}
@media (min-width: 990px) {
  header nav > ul li {
    padding: 20px 0;
  }
}
@media (min-width: 990px) {
  header nav > ul li:hover > a {
    color: #cc2f30;
  }
}
header nav > ul li.sub {
  position: relative;
}
header nav > ul li.sub:hover .sub-menu {
  display: none;
}
@media (min-width: 990px) {
  header nav > ul li.sub:hover .sub-menu {
    display: block;
  }
}
header nav > ul li.sub .sub-menu {
  display: none;
  position: absolute;
  top: 56px;
  background: #e3e3e3;
  left: calc(50% - 75px);
  width: 150px;
  text-align: center;
}
header nav > ul li.sub .sub-menu li {
  padding: 10px 20px;
}
header nav > ul li a {
  color: #3069b1;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 30px;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-offset: 0px;
  padding-left: 10px;
}

textarea {
  border: 1px solid #ccc;
  outline-offset: 0px;
  width: 100%;
  height: 250px;
  line-height: 32px;
  padding-left: 0;
}

.show-password-input {
  top: 6px !important;
}

input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=radio],
input[type=range] {
  width: auto;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
}

form.invalid .wpcf7-response-output,
form.unaccepted .wpcf7-response-output,
form.payment-required .wpcf7-response-output {
  padding: 20px;
}

.wpcf7-spinner {
  display: none;
}/*# sourceMappingURL=main.css.map */