@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.t-branco {
  color: #ffffff;
}

.bg-branco {
  background-color: #ffffff;
}

.t-preto {
  color: #101010;
}

.bg-preto {
  background-color: #101010;
}

.t-laranja {
  color: #F07D22;
}

.bg-laranja {
  background-color: #F07D22;
}

.t-vermelho {
  color: #E41E26;
}

.bg-vermelho {
  background-color: #E41E26;
}

.t-vermelho-claro {
  color: #E7494F;
}

.bg-vermelho-claro {
  background-color: #E7494F;
}

.t-amarelo {
  color: #FFED00;
}

.bg-amarelo {
  background-color: #FFED00;
}

.t-verde {
  color: #9bc73f;
}

.bg-verde {
  background-color: #9bc73f;
}

.t-verde2 {
  color: #138B6C;
}

.bg-verde2 {
  background-color: #138B6C;
}

.t-azul {
  color: #13A1CA;
}

.bg-azul {
  background-color: #13A1CA;
}

.t-roxo-claro {
  color: #72528B;
}

.bg-roxo-claro {
  background-color: #72528B;
}

.t-roxo {
  color: #352e49;
}

.bg-roxo {
  background-color: #352e49;
}

.t-rosa {
  color: #E61365;
}

.bg-rosa {
  background-color: #E61365;
}

.t-rosa-claro {
  color: #E94082;
}

.bg-rosa-claro {
  background-color: #E94082;
}

.t-cinza {
  color: #CFCFCF;
}

.bg-cinza {
  background-color: #CFCFCF;
}

.t-principal {
  color: #09ff00;
}

.bg-principal {
  background-color: #09ff00;
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-black-webfont.woff2") format("woff2"), url("../fonts/helvetica-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-bold-webfont.woff2") format("woff2"), url("../fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-regular-webfont.woff2") format("woff2"), url("../fonts/helvetica-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.t-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
}
@media (min-width: 990px) {
  .t-1 {
    font-size: 45px;
  }
}

.t-2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
}
@media (min-width: 990px) {
  .t-2 {
    font-size: 35px;
  }
}

.t-3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-3 {
    font-size: 22px;
  }
}

.t-4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-4 {
    font-size: 20px;
  }
}

.t-5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 40%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-5 {
    font-size: 20px;
  }
}

.t-texto {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-texto {
    font-size: 18px;
  }
}

.t-small {
  font-weight: 400;
  font-size: 11px;
  line-height: 125%;
}
@media (min-width: 990px) {
  .t-small {
    font-size: 13px;
  }
}

.t-menu-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.t-menu-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
}

.t-menu-3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.t-botao {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 990px) {
  .t-botao {
    font-size: 14px;
    line-height: 17px;
  }
}

.t-tag {
  font-weight: 600;
  font-size: 25px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
}
@media (min-width: 990px) {
  .t-tag {
    font-size: 28px;
  }
}

.t-regular {
  font-weight: 400;
}

.t-bold {
  font-weight: 600;
}

.t-black {
  font-weight: 900;
}

.t-wysiwyg a {
  color: #101010;
  font-weight: bold;
  text-decoration: underline;
}

.ir {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

img {
  display: block;
}

iframe {
  width: 100%;
}

body {
  font-family: "helvetica";
  background: #F4F4F5;
}

main {
  padding-bottom: 70px;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.header-container {
  position: fixed;
  width: 100%;
}
.header-container nav ul {
  display: flex;
  flex-direction: row;
  background-color: #72528B;
  transition: background ease 1s;
  background-color: #72528B;
}
.header-container nav ul .sub-menu {
  display: none;
  position: absolute;
}
.header-container nav ul > li:hover .sub-menu {
  display: block;
}

.header-container a {
  display: block;
  padding: 10px 20px;
  background-color: #72528B;
  transition: background ease 1s;
}
.header-container a:hover {
  background-color: yellow;
}

.home-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within items */
  margin: 0 auto; /* Center the container itself */
  background-color: #ffffff;
  width: 100vw;
  padding-top: 40px;
}

.home-titulo {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.home-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.unidade-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within items */
  margin: 0 auto; /* Center the container itself */
  background-color: #ffffff;
  width: 100vw;
  padding-top: 40px;
}

.unidade-título {
  text-align: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.unidade-paragrafo {
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}
@media (min-width: 990px) {
  .video-container {
    max-width: 800px;
  }
}

.video-container iframe {
  height: auto;
}
@media (min-width: 990px) {
  .video-container iframe {
    height: 500px;
  }
}

.unidade-mapa {
  color: #9bc73f;
  margin-bottom: 20px;
}

.unidade-mapa img {
  max-width: 100%; /* Prevents the image from exceeding the width of its container */
  height: auto; /* Maintain aspect ratio */
}

.unidade-anos h2 {
  color: #9bc73f;
  margin-bottom: 10px;
}

.unidade-anos p {
  color: #101010;
  margin-bottom: 10px;
}

.unidade-habilidades {
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
}

.unidade-habilidades h2 {
  text-align: center;
  color: #9bc73f;
}

.unidade-habilidades p {
  margin-bottom: 0px;
  margin-top: 20px;
}

.ideias-centrais {
  align-items: center;
  width: 60%;
}

.ideias-centrais h2 {
  text-align: center;
  margin-bottom: 5px;
}

.ideias-centrais span {
  text-align: justify;
  margin-bottom: 30px;
  display: list-item; /* This has to be "list-item"                                          */
  margin-left: 1em; /* If you use default list-style-position 'outside', you may need this */
}

.unidade-grid-container {
  display: flex;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within ite
grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust spacing between items */
  flex-wrap: wrap;
  justify-content: center;
}

.unidade-grid-item {
  border: 1px solid #ccc; /* Optional styling */
  padding: 10px; /* Optional styling */
  text-align: center; /* Center text */
  width: 200px;
  min-height: 500px;
  align-items: stretch;
}

.unidade-grid-item iframe {
  width: 80%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust spacing between items */
}

.grid-item {
  border: 1px solid #ccc; /* Optional styling */
  padding: 10px; /* Optional styling */
  text-align: center; /* Center text */
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 30px;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-offset: 0px;
  padding-left: 10px;
}

textarea {
  border: 1px solid #ccc;
  outline-offset: 0px;
  width: 100%;
  height: 250px;
  line-height: 32px;
  padding-left: 0;
}

.show-password-input {
  top: 6px !important;
}

input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=radio],
input[type=range] {
  width: auto;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
}

form.invalid .wpcf7-response-output,
form.unaccepted .wpcf7-response-output,
form.payment-required .wpcf7-response-output {
  padding: 20px;
}

.wpcf7-spinner {
  display: none;
}/*# sourceMappingURL=main.css.map */