* {
    // font-family: "Poppins", sans-serif;
}
.ir{
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

img {
    display: block;
}
iframe{
    width: 100%;
}
body {
    font-family: $helvetica;
    background: $off-white;
    min-height:100vh;
}
main{   
    padding-top: 66px;
    min-height: calc( 100vh - 78px - 66px );
}
a {
    text-decoration: none;
}
strong{
    font-weight: bold;
}

.wrapper{
    width:82%;
    margin: 0 auto;
    max-width:55900px;
    @include dk-pq{
        width:55%;
        margin: 0 auto;
        max-width: 1900px;
       }
}

.wrapper-home{
    width:82%;
    margin: 0 auto;
    max-width:55900px;
    @include dk-pq{
        width:80%;
        margin: 0 auto;
        max-width: 1900px;
       }
}

.wrapper-d{
   @include dk-pq{
     width:55%;
     margin: 0 auto;
     max-width: 1900px;
    }
}

.wrapper-m{
    width:82%;
    margin: 0 auto;
    max-width: 1900px;
    @include dk-pq{
        width: 100%;
        margin: 0;
    }
}

.wrapper-sanfona{
    width:90%;
    text-align: left;
    
    max-width:55900px;
    @include dk-pq{
        width:90%;
        
        max-width: 1900px;
       }
}

.fx {
    display: flex;
}

.fx-d {
    @include dk-pq{
        display: flex;
    }
}

.fx-row {
    flex-flow: row wrap; 
}

.fx-col{
    flex-flow: column;
}

.fx-d-row {
    @include dk-pq{
        flex-flow: row wrap;
    } 
}

.fx-d-col{
    @include dk-pq{
        flex-flow: column;
    }
}

.fx-jcsb{
    justify-content: space-between;
}

.fx-d-jcsb{
    @include dk-pq{
        justify-content: space-between;
    }
}

.fx-jcc{
    justify-content: center;
}

.fx-d-aife{
    @include dk-pq{
        align-items: flex-end;
    }
}

.fx-aic{
    align-items: center;
}

.fx-d-aic{
    @include dk-pq{
        align-items: center;
    }
}

//gaps
.g-10{
    gap: 10px;                                                                                                          
}
.g-15{
    gap: 15px;                                                                                                          
}
.g-20{
    gap: 20px;                                                                                                          
}
.g-25{
    gap: 25px;                                                                                                   
}
.g-30{
    gap: 30px;                                                                                                          
}
.g-40{
    gap: 40px;                                                                                                          
}
.g-50{
    gap: 50px;                                                                                                          
}
.g-60{
    gap: 60px;                                                                                                          
}
.g-d-20{
    @include dk-pq{
        gap: 20px;                                                                                                          
    }
}
.g-d-30{
    @include dk-pq{
        gap: 30px;                                                                                                          
    }
}


//colunas
.col-50 {
    width: 50%;
}
.col-d-50 {
    @include dk-pq{
        width: 50%;
    }
}
.col-40 {
    width: 40%;
}
.col-d-40 {
    @include dk-pq{
        width: 40%;
    }
}
.col-d-45 {
    @include dk-pq{
        width: 45%;
    }
}
.col-30 {
    width: 30%;
}
.col-d-30 {
    @include dk-pq{
        width: 30%;
    }
}
.col-33 {
    width: 33.333%;
}
.col-d-33 {
    @include dk-pq{
        width: 33.333%;
    }
}
.col-25 {
    width: 25%;
}
.col-d-25 {
    @include dk-pq{
        width: 25%;
    }
}
.col-d-45 {
    @include dk-pq{
        width: 45%;
    }
}
.col-66 {
    width: 66.666%;
}
.col-d-66 {
    @include dk-pq{
        width: 66.666%;
    }
}

.col-d-58 {
    @include dk-pq{
        width: 58%;
    }
}

.col-d-60 {
    @include dk-pq{
        width: 60%;
    }
}
.col-d-100 {
    @include dk-pq{
        width: 100%;
    }
}

//tags e botoes
.tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 12px;        
}

//paddings


.p-10{
    padding: 10px 0;
}
.p-15{
    padding: 15px 0;
}
.p-25{
    padding: 25px 0;
}

.pb-25{
    padding-bottom: 25px;
}
.p-35{
    padding: 35px 0;
}
.p-d-15{
    @include dk-pq{
        padding: 15px 0;
    }
}   
.pb-35{
    padding-bottom: 35px;
}
.pb-25{
    padding-bottom: 25px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-10{
    padding-bottom: 10px;
}

.pb-45{
    padding-bottom: 45px;
}
.pb-8{
    padding-bottom: 8px;
}

.pb-15{
    padding-bottom: 15px;
}
.pt-25{
    padding-top: 25px;
}
.pt-10{
    padding-top: 10px;
}
.pt-30{
    padding-top: 30px;
}
.pt-50{
    padding-top: 50px;
}

b{
 font-weight: bold;
}

.pt-d-25{
    @include dk-pq{
        padding-top: 25px;
    }
    
}

.pt-d-15{
    @include dk-pq{
        padding-top: 15px;
   }    
}
.pb-d-15{
    @include dk-pq{
        padding-bottom: 15px;
   }    
}



//borders
.bb-preto{
  border-bottom: 1px solid $preto;  
}

//elementos graficos
.i-seta-dir{
    &:after{
        content: "";
        display: block;
        transform: rotate(-135deg) translate(2px);
        transition: transform ease 0.5s;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        width: 7px;
        height: 7px;
    }
    &.open{
        &:after{
            transform: rotate(-45deg) translate(0px,-3px);
            
        }
    }
    
}


