// Page-home
.home-image-logo{
  display: none;
  @include dk-pq{
    display: block;
    width: 25%;
  }
  
}


.home-imagem{
  img{
    width: 25%;
  }
  h2{
    width: 100%;
  }
  h3{
    width: 100%;
  }
}

.links-home{
  a{
    padding: 10px;
    border: 1px solid $preto;
    border-radius: 10px;
  }
  
}


//Page Sobre

.destaque-sobre{
  iframe{
    height: 56vw;
      @include dk-pq{
      height: 17vw;
      order: 1;
    }
  }
  h2{
    @include dk-pq{
      order: 2;
    }
  }
}

// Page-unidade

article{
  border: 1px solid $preto;
  border-radius: 15px;
  background-color: #FFFFFF;
  @include dk-pq{
    width: 309px;
  }
  a{
    padding: 6px;
    border: 1px solid $preto;
    border-radius: 5px;
  }
  img{
    width: 100%;
  }
}

.card-wrapper{
  width: 82%;
  margin: 0 auto;
}

.filtro-categoria {
  font-size: 16px;
  @include dk-pq{
    font-size: 18px;
  }
  
}

//Single unidade

.destaque{
  @include dk-pq{
  width:55%;
  margin: 0 auto;
  max-width: 1900px;
  }
  .wrapper{
    @include dk-pq{
      margin: initial;
      max-width: initial;
      order: 1;
    }  
  }
  iframe{
    height: 56vw;
    @include dk-pq{
      height: 14vw;
      order: 2;
    }
  }
}

.encontro-title:hover{ 
  cursor:pointer;
}



.encontro-container {
  
}

.unidade-encontro-content{
  display: none;
  line-height: 1.3;
}


.unidade-encontro-content iframe{
  width: 100%;
  height: auto;
  @include dk-pq {
    max-width: 441px;
    aspect-ratio: 16 / 9;
  }

}

.encontro-objetivo {
  
  text-align: left;
  padding: 15px 30px;
}

.encontro-objetivo h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-objetivo h3 {
  padding-bottom: 10px;
}

.encontro-objetivo ul {
  list-style-type: disc !important;
  list-style-position: inside;
}

.encontro-etapa {
 
  text-align: left;
  padding: 15px 30px;
}

.encontro-etapa h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-etapa h3 {
  padding-bottom: 10px;
}

.encontro-etapa b {
  font-weight: 600;
  
}

.encontro-materiais {
 
  text-align: left;
  padding: 15px 30px;
}

.encontro-materiais h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-materiais h3 {
  padding-bottom: 10px;
}

.encontro-materiais ul {
  list-style-type: disc !important;
  list-style-position: inside;
}


//Page Equipe

.card-pessoa{
  align-items: center;
  img{
      border-radius: 50%;
      width: 90px;
      height: 90px;

      @include dk-pq {
        width: 140px;
        height: 140px;
      }

    }
    h2{
      width: 90px;
      @include dk-pq {
        width: 140px;
      }
      
      
    }
    p{
      width: 180px;
      @include dk-pq {
        width: 200px;
      }
    }
}

