//Header

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: #0000001a 0 11px 20px;
    background: $branco;
    .header-container{
        @include dk-pq {
            display: flex;
            flex-flow: row wrap;
            padding: 0px 5%;
            background-color: $branco;  
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box              ;
        }
       
        
    }
    .topo-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;  
        padding: 10px 5%;
        width: 100%;
        box-sizing: border-box;
        @include dk-pq {
            width: initial;
            background: none;
            padding: 0;
        }
        .bt-menu{
            order: 2;
            background: none;
            border: 0;
            font-weight: bold;
            text-transform: uppercase;
            color:$preto;
            @include dk-pq {
                display: none;
            }
        }
       

        h1 {
            order: 1;
        }
       
    }

    .logo-header{
        background: url(../imgs/logo-clic.svg) no-repeat;
        background-size: 100%;
        width: 77px;
        height: 46px;
    }
    
   
    nav {
        position: absolute;
        padding: 5%;
        background: $cinza;
        padding: 20px 5%;
        left: -50vw;
        top: 66px;
        width: 50vw;
        box-sizing: border-box;
        height: calc(100vh - 47px);
        transition: left ease 0.5s;
        @include dk-pq {
            position: relative;
            background: none;
            padding: 0;
            left: 0;
            top: 0;
            width: initial;
            height: initial;
            transition: left ease 0.5s;
        }

        &.nav-open{
            left: 0;
        }
        
        &>ul{
            display: flex;
            flex-flow: column;
            gap: 10px;
            @include dk-pq {
                flex-flow: row wrap;
                gap: 30px;
            } 
            li {
                @include dk-pq {
                    padding: 20px 0;
                }
                &:hover{
                  &>a{
                    @include dk-pq {
                        color: $vermelho;
                    }
                  }
                }
                &.sub{
                    position: relative;
                    &:hover{
                        .sub-menu{
                            display: none;
                            @include dk-pq{
                                display: block;    
                            }
                
                        }
                    }
                    .sub-menu{
                        display: none;
                        position: absolute;
                        top: 56px;
                        background: #e3e3e3;
                        left: calc(50% - 75px);
                        width: 150px;
                        text-align: center;
                        li{
                            padding: 10px 20px;
                        }
                    }
                }
                a {
                    color: $azul;
                }
            }
        }
    }
    
}


