/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.t-branco {
  color: #fffffd;
}

.bg-branco {
  background-color: #fffffd;
}

.t-off-white {
  color: #F2F2F2;
}

.bg-off-white {
  background-color: #F2F2F2;
}

.t-preto {
  color: #2d2d2e;
}

.bg-preto {
  background-color: #2d2d2e;
}

.t-laranja {
  color: #d75930;
}

.bg-laranja {
  background-color: #d75930;
}

.t-vermelho {
  color: #a53237;
}

.bg-vermelho {
  background-color: #a53237;
}

.t-vermelho-claro {
  color: #E7494F;
}

.bg-vermelho-claro {
  background-color: #E7494F;
}

.t-amarelo {
  color: #e9bf49;
}

.bg-amarelo {
  background-color: #e9bf49;
}

.t-verde {
  color: #50a554;
}

.bg-verde {
  background-color: #50a554;
}

.t-verde2 {
  color: #138B6C;
}

.bg-verde2 {
  background-color: #138B6C;
}

.t-azul {
  color: #3069b1;
}

.bg-azul {
  background-color: #3069b1;
}

.t-azul-claro {
  color: #6ea4b7;
}

.bg-azul-claro {
  background-color: #6ea4b7;
}

.t-roxo-claro {
  color: #a5a7ce;
}

.bg-roxo-claro {
  background-color: #a5a7ce;
}

.t-roxo {
  color: #5a4a85;
}

.bg-roxo {
  background-color: #5a4a85;
}

.t-rosa {
  color: #E61365;
}

.bg-rosa {
  background-color: #E61365;
}

.t-rosa-claro {
  color: #E94082;
}

.bg-rosa-claro {
  background-color: #E94082;
}

.t-cinza {
  color: #acafb4;
}

.bg-cinza {
  background-color: #acafb4;
}

.t-cinza-escuro {
  color: #424242;
}

.bg-cinza-escuro {
  background-color: #424242;
}

.t-principal {
  color: #09ff00;
}

.bg-principal {
  background-color: #09ff00;
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-black-webfont.woff2") format("woff2"), url("../fonts/helvetica-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-bold-webfont.woff2") format("woff2"), url("../fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-regular-webfont.woff2") format("woff2"), url("../fonts/helvetica-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-haas";
  src: url("../fonts/Neue Haas Grotesk Display Pro 65 Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.t-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}
@media (min-width: 990px) {
  .t-center {
    text-align: initial;
  }
}

.t-right {
  text-align: right;
}

.t-1 {
  font-weight: 600;
  font-size: 26px;
}
@media (min-width: 990px) {
  .t-1 {
    font-size: 38px;
    line-height: 43px;
  }
}

.t-2 {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 990px) {
  .t-2 {
    font-size: 32px;
  }
}

.t-3 {
  font-size: 20px;
}
@media (min-width: 990px) {
  .t-3 {
    font-size: 24px;
  }
}

.t-4 {
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 990px) {
  .t-4 {
    font-size: 18px;
  }
}

.t-5 {
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 990px) {
  .t-5 {
    font-size: 15px;
  }
}

.t-6 {
  font-weight: 400;
  font-size: 12px;
}
@media (min-width: 990px) {
  .t-6 {
    font-size: 14px;
  }
}

.t-regular {
  font-weight: 400;
}

.t-bold {
  font-weight: 600;
}

.t-black {
  font-weight: 900;
}

.t-wys h3 {
  font-size: 20px;
}
@media (min-width: 990px) {
  .t-wys h3 {
    font-size: 24px;
  }
}
.t-wys ul {
  display: flex;
  flex-flow: column;
  padding-left: 28px;
}
.t-wys ul li {
  padding: 10px 0;
}
.t-wys ul li:nth-child(3n-2) {
  list-style-image: url(../imgs/i-vermelho.svg);
}
.t-wys ul li:nth-child(3n-1) {
  list-style-image: url(../imgs/i-verde.svg);
}
.t-wys ul li:nth-child(3n) {
  list-style-image: url(../imgs/i-azul.svg);
}
.t-wys ul li span {
  width: calc(100% - 27px);
}
.t-wys a {
  color: #2d2d2e;
  text-decoration: underline;
}

.lh-12 {
  line-height: 1.2;
}

.f-neue {
  font-family: "neue-haas";
}

.ir {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

img {
  display: block;
}

iframe {
  width: 100%;
}

body {
  font-family: "helvetica";
  background: #F2F2F2;
  min-height: 100vh;
}

main {
  padding-top: 66px;
  min-height: calc(100vh - 78px - 66px);
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.wrapper {
  width: 82%;
  margin: 0 auto;
  max-width: 55900px;
}
@media (min-width: 990px) {
  .wrapper {
    width: 55%;
    margin: 0 auto;
    max-width: 1900px;
  }
}

.wrapper-home {
  width: 82%;
  margin: 0 auto;
  max-width: 55900px;
}
@media (min-width: 990px) {
  .wrapper-home {
    width: 80%;
    margin: 0 auto;
    max-width: 1900px;
  }
}

@media (min-width: 990px) {
  .wrapper-d {
    width: 55%;
    margin: 0 auto;
    max-width: 1900px;
  }
}

.wrapper-m {
  width: 82%;
  margin: 0 auto;
  max-width: 1900px;
}
@media (min-width: 990px) {
  .wrapper-m {
    width: 100%;
    margin: 0;
  }
}

.wrapper-sanfona {
  width: 90%;
  text-align: left;
  max-width: 55900px;
}
@media (min-width: 990px) {
  .wrapper-sanfona {
    width: 90%;
    max-width: 1900px;
  }
}

.fx {
  display: flex;
}

@media (min-width: 990px) {
  .fx-d {
    display: flex;
  }
}

.fx-row {
  flex-flow: row wrap;
}

.fx-col {
  flex-flow: column;
}

@media (min-width: 990px) {
  .fx-d-row {
    flex-flow: row wrap;
  }
}

@media (min-width: 990px) {
  .fx-d-col {
    flex-flow: column;
  }
}

.fx-jcsb {
  justify-content: space-between;
}

@media (min-width: 990px) {
  .fx-d-jcsb {
    justify-content: space-between;
  }
}

.fx-jcc {
  justify-content: center;
}

@media (min-width: 990px) {
  .fx-d-aife {
    align-items: flex-end;
  }
}

.fx-aic {
  align-items: center;
}

@media (min-width: 990px) {
  .fx-d-aic {
    align-items: center;
  }
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}

.g-20 {
  gap: 20px;
}

.g-25 {
  gap: 25px;
}

.g-30 {
  gap: 30px;
}

.g-40 {
  gap: 40px;
}

.g-50 {
  gap: 50px;
}

.g-60 {
  gap: 60px;
}

@media (min-width: 990px) {
  .g-d-20 {
    gap: 20px;
  }
}

@media (min-width: 990px) {
  .g-d-30 {
    gap: 30px;
  }
}

.col-50 {
  width: 50%;
}

@media (min-width: 990px) {
  .col-d-50 {
    width: 50%;
  }
}

.col-40 {
  width: 40%;
}

@media (min-width: 990px) {
  .col-d-40 {
    width: 40%;
  }
}

@media (min-width: 990px) {
  .col-d-45 {
    width: 45%;
  }
}

.col-30 {
  width: 30%;
}

@media (min-width: 990px) {
  .col-d-30 {
    width: 30%;
  }
}

.col-33 {
  width: 33.333%;
}

@media (min-width: 990px) {
  .col-d-33 {
    width: 33.333%;
  }
}

.col-25 {
  width: 25%;
}

@media (min-width: 990px) {
  .col-d-25 {
    width: 25%;
  }
}

@media (min-width: 990px) {
  .col-d-45 {
    width: 45%;
  }
}

.col-66 {
  width: 66.666%;
}

@media (min-width: 990px) {
  .col-d-66 {
    width: 66.666%;
  }
}

@media (min-width: 990px) {
  .col-d-58 {
    width: 58%;
  }
}

@media (min-width: 990px) {
  .col-d-60 {
    width: 60%;
  }
}

@media (min-width: 990px) {
  .col-d-100 {
    width: 100%;
  }
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 12px;
}

.p-10 {
  padding: 10px 0;
}

.p-15 {
  padding: 15px 0;
}

.p-25 {
  padding: 25px 0;
}

.pb-25 {
  padding-bottom: 25px;
}

.p-35 {
  padding: 35px 0;
}

@media (min-width: 990px) {
  .p-d-15 {
    padding: 15px 0;
  }
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

@media (min-width: 990px) {
  .pt-d-25 {
    padding-top: 25px;
  }
}

@media (min-width: 990px) {
  .pt-d-15 {
    padding-top: 15px;
  }
}

@media (min-width: 990px) {
  .pb-d-15 {
    padding-bottom: 15px;
  }
}

.bb-preto {
  border-bottom: 1px solid #2d2d2e;
}

.i-seta-dir:after {
  content: "";
  display: block;
  transform: rotate(-135deg) translate(2px);
  transition: transform ease 0.5s;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 7px;
  height: 7px;
}
.i-seta-dir.open:after {
  transform: rotate(-45deg) translate(0px, -3px);
}

.home-image-logo {
  display: none;
}
@media (min-width: 990px) {
  .home-image-logo {
    display: block;
    width: 25%;
  }
}

.home-imagem img {
  width: 25%;
}
.home-imagem h2 {
  width: 100%;
}
.home-imagem h3 {
  width: 100%;
}

.links-home a {
  padding: 10px;
  border: 1px solid #2d2d2e;
  border-radius: 10px;
}

.destaque-sobre iframe {
  height: 56vw;
}
@media (min-width: 990px) {
  .destaque-sobre iframe {
    height: 17vw;
    order: 1;
  }
}
@media (min-width: 990px) {
  .destaque-sobre h2 {
    order: 2;
  }
}

article {
  border: 1px solid #2d2d2e;
  border-radius: 15px;
  background-color: #FFFFFF;
}
@media (min-width: 990px) {
  article {
    width: 309px;
  }
}
article a {
  padding: 6px;
  border: 1px solid #2d2d2e;
  border-radius: 5px;
}
article img {
  width: 100%;
}

.card-wrapper {
  width: 82%;
  margin: 0 auto;
}

.filtro-categoria {
  font-size: 16px;
}
@media (min-width: 990px) {
  .filtro-categoria {
    font-size: 18px;
  }
}

@media (min-width: 990px) {
  .destaque {
    width: 55%;
    margin: 0 auto;
    max-width: 1900px;
  }
}
@media (min-width: 990px) {
  .destaque .wrapper {
    margin: initial;
    max-width: initial;
    order: 1;
  }
}
.destaque iframe {
  height: 56vw;
}
@media (min-width: 990px) {
  .destaque iframe {
    height: 14vw;
    order: 2;
  }
}

.encontro-title:hover {
  cursor: pointer;
}

.unidade-encontro-content {
  display: none;
  line-height: 1.3;
}

.unidade-encontro-content iframe {
  width: 100%;
  height: auto;
}
@media (min-width: 990px) {
  .unidade-encontro-content iframe {
    max-width: 441px;
    aspect-ratio: 16/9;
  }
}

.encontro-objetivo {
  text-align: left;
  padding: 15px 30px;
}

.encontro-objetivo h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-objetivo h3 {
  padding-bottom: 10px;
}

.encontro-objetivo ul {
  list-style-type: disc !important;
  list-style-position: inside;
}

.encontro-etapa {
  text-align: left;
  padding: 15px 30px;
}

.encontro-etapa h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-etapa h3 {
  padding-bottom: 10px;
}

.encontro-etapa b {
  font-weight: 600;
}

.encontro-materiais {
  text-align: left;
  padding: 15px 30px;
}

.encontro-materiais h3 span {
  font-weight: 600 !important;
  font-size: 20px;
}

.encontro-materiais h3 {
  padding-bottom: 10px;
}

.encontro-materiais ul {
  list-style-type: disc !important;
  list-style-position: inside;
}

.card-pessoa {
  align-items: center;
}
.card-pessoa img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
@media (min-width: 990px) {
  .card-pessoa img {
    width: 140px;
    height: 140px;
  }
}
.card-pessoa h2 {
  width: 90px;
}
@media (min-width: 990px) {
  .card-pessoa h2 {
    width: 140px;
  }
}
.card-pessoa p {
  width: 180px;
}
@media (min-width: 990px) {
  .card-pessoa p {
    width: 200px;
  }
}

footer {
  box-flex-group: #fffffd;
  width: 100%; /* Frame 1 */
  box-shadow: 6px 0px 4px rgba(0, 0, 0, 0.25);
}
footer ul {
  /* Auto layout */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 39px;
  width: 168px;
}
@media (min-width: 990px) {
  footer ul {
    max-width: 350px;
    margin: 0 auto;
  }
}
footer ul li {
  flex-grow: 1;
}
footer ul li a {
  display: block;
  width: 100%;
}
footer ul li a img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1019607843) 0 11px 20px;
  background: #fffffd;
}
@media (min-width: 990px) {
  header .header-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 5%;
    background-color: #fffffd;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}
header .topo-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 5%;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 990px) {
  header .topo-menu {
    width: initial;
    background: none;
    padding: 0;
  }
}
header .topo-menu .bt-menu {
  order: 2;
  background: none;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #2d2d2e;
}
@media (min-width: 990px) {
  header .topo-menu .bt-menu {
    display: none;
  }
}
header .topo-menu h1 {
  order: 1;
}
header .logo-header {
  background: url(../imgs/logo-clic.svg) no-repeat;
  background-size: 100%;
  width: 77px;
  height: 46px;
}
header nav {
  position: absolute;
  padding: 5%;
  background: #F2F2F2;
  padding: 20px 5%;
  left: -50vw;
  top: 66px;
  width: 50vw;
  box-sizing: border-box;
  height: calc(100vh - 47px);
  transition: left ease 0.5s;
  font-weight: 600;
}
@media (min-width: 990px) {
  header nav {
    position: relative;
    background: none;
    padding: 0;
    left: 0;
    top: 0;
    width: initial;
    height: initial;
    transition: left ease 0.5s;
  }
}
header nav.nav-open {
  left: 0;
}
header nav > ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
@media (min-width: 990px) {
  header nav > ul {
    flex-flow: row wrap;
    gap: 30px;
  }
}
@media (min-width: 990px) {
  header nav > ul li {
    padding: 20px 0;
  }
}
@media (min-width: 990px) {
  header nav > ul li:hover > a {
    color: #a53237;
  }
}
header nav > ul li.sub {
  position: relative;
}
header nav > ul li.sub:hover .sub-menu {
  display: none;
}
@media (min-width: 990px) {
  header nav > ul li.sub:hover .sub-menu {
    display: block;
  }
}
header nav > ul li.sub .sub-menu {
  display: none;
  position: absolute;
  top: 56px;
  background: #e3e3e3;
  left: calc(50% - 75px);
  width: 150px;
  text-align: center;
}
header nav > ul li.sub .sub-menu li {
  padding: 10px 20px;
}
header nav > ul li a {
  color: #3069b1;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 30px;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-offset: 0px;
  padding-left: 10px;
}

textarea {
  border: 1px solid #ccc;
  outline-offset: 0px;
  width: 100%;
  height: 250px;
  line-height: 32px;
  padding-left: 0;
}

.show-password-input {
  top: 6px !important;
}

input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=radio],
input[type=range] {
  width: auto;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
}

form.invalid .wpcf7-response-output,
form.unaccepted .wpcf7-response-output,
form.payment-required .wpcf7-response-output {
  padding: 20px;
}

.wpcf7-spinner {
  display: none;
}/*# sourceMappingURL=main.css.map */